doctype html
html(lang=en)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    )
  body
    h1 The future of something magical!
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, autem vero eveniet impedit optio ipsum tempora distinctio quae deleniti? Cumque ducimus vitae assumenda mollitia nobis ab aliquam aperiam voluptatum dolorem, at sint in blanditiis autem, doloribus omnis quam, nisi reiciendis. Quidem voluptate cupiditate quia et autem quo quam culpa eius consectetur officiis. Officia sunt numquam hic amet fugit. Dolorem dignissimos dolore impedit facilis ab officiis sequi doloremque, at perspiciatis sint temporibus vel illo placeat facere iure repellendus cupiditate doloribus natus voluptas, suscipit consequatur, soluta error autem fuga! Harum voluptatem ipsum qui porro repellat numquam, officiis temporibus architecto distinctio, fugiat magnam nam aliquid neque. Voluptatibus vel consequuntur fuga, neque officia incidunt aspernatur illo, dolore quasi quod ipsa, sit voluptas laudantium a hic ipsum aliquid error perferendis eaque aperiam ad labore? Itaque aliquam sint placeat, commodi laudantium vero amet delectus soluta fugit molestiae illum id consectetur optio dolorem maiores voluptatem explicabo illo ipsum incidunt blanditiis harum ab consequatur iste quam. Voluptas odit delectus explicabo ipsa quasi? Eligendi, dolor numquam! Qui provident vel eos unde ea corrupti magnam voluptatum odio quos labore, laboriosam nam harum sed quisquam laudantium blanditiis omnis dignissimos nulla quam inventore non! Et laudantium voluptas officia porro consequatur pariatur ab sapiente minima doloribus necessitatibus consectetur provident fugit ducimus, voluptate, laborum debitis, in obcaecati excepturi odio consequuntur? Autem qui eum beatae harum sit, quidem quos officia perferendis dicta perspiciatis asperiores nulla neque dolore hic libero quas cupiditate nam voluptates illo. Cumque laudantium porro quasi ea a id explicabo, delectus modi quo eius! Rerum explicabo dolore quod consequatur recusandae eos, nostrum eaque at a. Voluptas laboriosam, dolor atque qui quas quibusdam obcaecati cupiditate reiciendis sed quis eveniet eligendi at libero voluptate, officiis quisquam deleniti alias voluptatibus deserunt, doloremque porro. Ut nobis laudantium quo. Itaque quibusdam modi nemo voluptatum, adipisci quam harum necessitatibus.
